.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: auto;
    padding-top: 150px;
}

.textLoading {
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
}

.textError{
    padding-left: 315px;
    font-family: 'Open Sans', sans-serif;
}

.error{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    background: white;
}
