.bar {
    display: flex;
    width: 100%;
    /* this instead of using an hr below the navbar*/
    border-bottom: 1.5px solid lightgray;
}

.siteTitle {
    margin: 15px;
    padding: 0;
}

.bar a {
    text-decoration: none;
}

.item {
    font-size: 16px;
    margin: 20px 10px 00px 10px;
}
.push {
    margin-left: auto;
}

.item:hover {
    /* font-weight: 700; */
    color: darkgray;
    transition: 0.2s ease;
}

.active {
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .bar {
        display: block;
    }
    .push {
        margin-left: 15px;
    }
  }