.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 275px;
    height: 375px;
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 8px #ccc;
    overflow: hidden;
}

.link:hover {
    box-shadow: 2px 2px 8px #999;
}

.card img {
    width: 95%;
    height: auto;
    border-radius: 2%;
    margin-left: 2.5%;
}

.title {
    font-size: 20px;
    margin: 5px 5px 5px 5px;
}

.date {
    margin: 0px 5px;
    font-size: 14px;
}
.publisher {
    margin: 5px 5px;
    /* font-weight: 600; */
    font-size: 14px;
}

.description {
    margin: 15px 5px;
    font-size: small;
}

