.local{
	position: absolute;
	left: 25px;
	

}

.national{
	text-align: center;
	top: 1px;
}

.global{
	position: absolute;
	right: 200px;
	top: 1px;
	margin-bottom: 10px;
}

.masonrycontainer {
    column-count: 3;
    column-gap: 0;
  }
  .masonryitem {
    break-inside: avoid;
    padding: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 8px #888888;
    width: 375px;
    height: 465px;
    background-color: whitesmoke;
  }
  .masonrycontent {
    padding: 10px;
    border-radius: 10px;
  }

  .title{
    padding: 10px;
    font-weight: bold;
  }



 
  

  
 