.container {
    position: relative;
    display: block;
    margin: 10px 0px;
    padding: 10px;
    background-color: #eee;
    font-size: 16px;
}

.title {
    font-size: 1.2em;
    display: inline;
    font-weight: 400;
}

.date {
    color: #888;
    margin-left: 20px;
    display: inline;
}

.risk {
}

/* STYLE: this is bad for the eyes :( there's gotta be something better, like
underlining text or font weight, or coloring, etc... */
.container:hover {
    box-shadow: 1px 1px 6px #ccc;
}