.noquiz * {
    color: #999;
    font-style: italic;
    font-size: 1.25rem;
    padding-left: 25px;
}

.noquiz a {
    text-decoration: underline;
}

.flexBox {
    display: flex;
}
.flexItem {
    width: 50%;
    flex: 1;
}
