.container form * {
    display: block;
    margin: 10px 0px;
}

.container {
    text-align: center;
}

.container input, .container select {
    display: inline;
    background-color: #eee;
    border-width: 0px;
    padding-left: 20px;
}

.container select {
    padding: 5px;
    font-size: 1em;
    font-weight: 700;
}

.button {
    border: none;
    background: #eee;
    font-size: inherit;
}

.next {
    background-color: rgb(121, 185, 121);
}

.next:hover {
    background-color: rgb(170, 235, 170);
}

.back {
    background-color: #ddd;
}

.back:hover {
    background-color: #eee;
}

.buttonblock {
    display: inline-block;
    padding: 10px;
}

.buttonblock button {
    margin: 0px 10px;
}