.reset {
    border: none;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #d88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px;
    transition: all 0.1s;
    border-radius: 6px;
}

.button:hover {
    background-color: #fcc;
}