/* This resets all styles to a common baseline 
 * so we don't get any weird behavior across 
 * different browsers. 
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.25;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/****** GLOBAL STYLES ********/

body, html {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    line-height: 1.25;
    margin: 0;
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:300;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 24px;
    font-weight: 500;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

.text-light {
    font-weight: 200;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: 700;
}

.text-black {
    font-weight: 900;
}

.text-italic {
    font-style: italic;
}

.d-inline-block {
    display: inline-block;
}

ul {
    display: block;
    list-style: disc outside;
    padding-left: 30px;
}

li {
    display: list-item;
    /*text-align: -webkit-match-parent;*/
    margin: 0 0 8px 30px;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}
pre,code  {
    font-family: monospace;
}
a {
    text-decoration: none;
    color: black;
}
.underline:hover {
 text-decoration: underline;
}
.button {
    background-color: white;
    color: black;
    border-radius: 10%;
    border-color: grey;
    padding: 10px;
    border: none;
}
.button:hover {
    background-color: rgb(219, 219, 219);
    transition: 0.2s ease;
}

.greenBtn {
    background-color: rgb(121, 185, 121);
}
.greenBtn:hover {
    background-color: rgb(170, 235, 170);
}

.greyBtn {
    background-color: #EEEEEE;
    border-radius: 10%;
    padding: 10px;
    border: none;
    margin-top: 20px;
}
.greyBtn:hover {
    background-color: #d3d3d3;
    transition: 0.2s ease;
    cursor: pointer;
}

#root {
    height: 100%;
}

input {
    outline: none;
    border-radius: 10%;
    border-color: grey;
    box-shadow: none;
    border-style: hidden;
    height: 30px;
    width: 200px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 15px 0;
}

sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.7em;
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em;
}


/* SPLASH & LOGIN PAGE STYLES */
.bg-image {
    background-image: url("../images/map-background-blurred.jpg");
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*SUB BODY STYLES */
.sub-body {
    margin: 20px;
}
.page-title {
    text-align: center;
}

.pageWrap {
    min-height: 100%;
    height: 99vh;
    margin-bottom: -45px; 
}
  .pageWrap:after {
    content: "";
    display: block;
    height: 40px; 
  }

/* NEWS CARD STYLES */
#news-feed {
    display: flex;
    flex-wrap: wrap;
}
.card-link {
    width: 275px;
    height: 375px;
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 8px #888888;
}
.card img {
    width: 95%;
    height: auto;
    border-radius: 2%;
    margin-left: 2.5%;
}
.card-title {
    margin: 5px 5px 5px 5px;
}
.card-date {
    margin: 0px 5px;
    font-size: 14px;
}
.card-publisher {
    margin: 5px 5px;
    /* font-weight: 600; */
    font-size: 14px;
}
.card-desc {
    margin: 15px 5px;
}
